# it should go into:
# /etc/systemd/system/factorio-updater.service
[Unit]
Description=Factorio Updater Service
After=tmux-session.service

[Service]
Type=simple
ExecStart=/bin/bash .../factorio_root_folder/updater.sh
User=criadmin
WorkingDirectory=.../factorio_root_folder

[Install]
WantedBy=multi-user.target
